@import "https://fonts.googleapis.com/css?family=Dosis:600&display=swap";

/* Homepage */
body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-align: center;
  color: #e0e0e0;
  background-color: #292929;
  opacity: 0;
  animation: fadeIn 0.4s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #8a6cb7;
  text-align: center;
  margin-bottom: 1em;
  text-shadow: 1px 1px #737373;
}

.rwd-table {
  color: #aea1ce;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 2px #696969;
  margin: 0 auto;
  max-width: 800px;
  background-color: #595459;
}

.rwd-table tr {
  border-color: #aea1ce;
  text-align: center;
}

.rwd-table th,
.rwd-table td {
  margin: .5em 1em;
  padding: 1em;
  background-color: #595459;
  box-shadow: 2px 2px #7a7a7a;
}

.rwd-table td:before {
  color: #3da6ae;
  font-weight: bold;
  margin-right: 0.5em;
}

.rwd-table a {
  color: #34ea8c;
}


@media (min-width: 480px) {
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    margin: 0;
    padding: 1em !important;
  }

  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }

  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }

  .rwd-table td:before {
    display: none;
  }
}

